<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PSK</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='checkbox.css') }}">
</head>
<body>
<p style="text-align: center;">&nbsp;</p>
<h2 style="text-align: center;"><strong>Параметры расчета ПСК:&nbsp;</strong></h2>
<form action="/echo" method="POST">
    <table style="width: 75%; margin-left: auto; margin-right: auto;">
        <tbody>
        <tr>
            <td style="width: 25%;">{{ form.card.label }}</td>
            <td style="width: 25%;">{{ form.rt.label }}</td>
            <td style="width: 25%;">{{ form.mat.label }}</td>
            <td style="width: 25%;">{{ form.sm.label }}</td>
        </tr>
        <tr>
            <td style="width: 25%;">{{ form.card (class="select_class") }}<br/> {% for error in form.card.errors %} [
                {{ error }}] {% endfor %}</td>
            <td style="width: 25%;">{{ form.rt(class="inp_class") }}<br/> {% for error in form.rt.errors %} [{{ error }}
                ] {% endfor %}</td>
            <td style="width: 25%;">{{ form.mat(class="inp_class") }}<br/> {% for error in form.mat.errors %} [
                {{ error }}] {% endfor %}</td>
            <td style="width: 25%;">{{ form.sm(class="inp_class") }}<br/> {% for error in form.sm.errors %} [{{ error }}
                ] {% endfor %}</td>
        </tr>
        </tbody>
    </table>

    <table style="width: 75%; margin-left: auto; margin-right: auto; table-layout: fixed">
        <tbody>
        <tr>
            <td style="width: 16.66%;">{{ form.dtstart.label }}</td>
            <td style="width: 16.66%;">{{ form.pday.label }}</td>
            <td style="width: 16.66%;">{{ form.card_comm.label }}</td>
            <td style="width: 16.66%;">{{ form.card_comm_postpone.label }}</td>
            <td style="width: 16.66%;">{{ form.sum_card_comm.label }}</td>
            <td style="width: 16.66%;">{{ form.strah.label }}</td>
        </tr>
        <tr>
            <td style="width: 16.66%;">{{ form.dtstart(class="dt_class") }}<br/> {% for error in form.dtstart.errors %}
                [
                {{ error }}] {% endfor %}</td>
            <td style="width: 16.66%;">{{ form.pday(class="inp_class") }}<br/> {% for error in form.pday.errors %} [
                {{ error }}] {% endfor %}</td>
            <td style="width: 16.66%;">{{ form.card_comm(class="select_class") }}<br/>
                {% for error in form.card_comm.errors %} [{{ error }}] {% endfor %}</td>
            <td style="width: 16.66%;">
                <div class="checkbox-wrapper-34">{{ form.card_comm_postpone(class="tgl tgl-ios",
            id="card_comm_postpone") }}<label class="tgl-btn" for="card_comm_postpone"></label>
                    <br/>
                </div>
                {% for error in form.card_comm_postpone.errors %} [{{ error }}] {% endfor %}
            </td>
            <td style="width: 16.66%;">{{ form.sum_card_comm(class="inp_class") }}<br/>
                {% for error in form.sum_card_comm.errors %} [{{ error }}] {% endfor %}</td>
            <td style="width: 16.66%;">{{ form.strah(class="inp_class") }}<br/> {% for error in form.strah.errors %} [
                {{ error }}] {% endfor %}</td>
        </tr>

        </tbody>
    </table>
    <div style="text-align: center;">&nbsp;</div>
    <div style="text-align: center;">&nbsp;</div>
    <div style="text-align: center;">{{ form.submit(class="myButton") }}</div>

</form>

</body>
</html>